<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0;
      background-color: #f4f4f4; } table { border-collapse: collapse; width:
      100%; } .container { max-width: 600px; margin: auto; background-color:
      #ffffff; border-radius: 8px; overflow: hidden; } .header { text-align:
      center; padding: 20px; background-color: #ffffff; } .header img { height:
      200px; width: 300px; margin-bottom: 10px; } .content { padding: 20px;
      color: #333333; } .title { font-size: 22px; font-weight: bold; text-align:
      center; color: #222222; margin-bottom: 10px; } .message { font-size: 15px;
      line-height: 1.6; text-align: center; margin-bottom: 20px; } .footer {
      background-color: #EFF6FF; color: black; text-align: center; padding:
      20px; font-size: 12px; font-weight: 600; } .footer a { margin: 0 8px;
      text-decoration: none; display: inline-block; } .footer a img { width:
      22px; height: 22px; filter: invert(100%); } .footer a:hover img { filter:
      invert(70%); } @media screen and (max-width: 480px) { .title { font-size:
      18px; } .header img { height: 120px; width: 120px; } }.otp {
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 6px;
      color: #3171fc; /* Different color for password reset */
      text-align: center;
      margin: 20px 0;
    }
    </style>
  </head>
  <body>
    <table role="presentation" class="container">
      <tr>
        <td class="header">
          <img src="cid:changePasswordLogo" alt="Password Changed" />
        </td>
      </tr>
      <tr>
        <td class="content">
          <div class="title">Password Changed Successfully</div>
          <p class="message">
            Hello
            {{name}},<br />
            Your Chnaging password<br />
            <div class="otp">{{otp}}</div>

            If you did not authorize this change, please contact support
            immediately.
          </p>

        </td>
      </tr>
      <tr>
        <td class="footer">
          <p>© 2025 Your Company. All rights reserved.</p>
          <a href="https://www.facebook.com/YourCompany" target="_blank">
            <img src="cid:iconFacebook" alt="Facebook" />
          </a>
          <a href="https://twitter.com/YourCompany" target="_blank">
            <img src="cid:iconTwitter" alt="Twitter" />
          </a>
          <a href="https://linkedin.com/company/YourCompany" target="_blank">
            <img src="cid:iconLinkedin" alt="LinkedIn" />
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>